/* You can add global styles to this file, and also import other style files */
body {
     margin: 0
}

.custom-select {
     position: relative;
     display: inline-block;
     min-width: 100px;
}

.custom-select select {
     display: inline-block;
     width: 100%;
     cursor: pointer;
     padding: 5px 30px 5px 10px;
     outline: 0;
     border: 1px solid #666;
     border-radius: 0;
     background: transparent;
     color: #666;
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
}

.custom-select select::-ms-expand {
     display: none;
}

.custom-select select:disabled {
     opacity: 0.5;
     pointer-events: none;
}

.custom-select-arrow {
     position: absolute;
     top: 10px;
     right: 12px;
     width: 0;
     height: 0;
     pointer-events: none;
     border-style: solid;
     border-width: 8px 5px 0 5px;
     border-color: #666 transparent transparent transparent;
}

.custom-select select:disabled ~ .custom-select-arrow {
     opacity: .3;
}
